Package: chipcie-kotlin
Version: 2.1.20
Section: java
Priority: optional
Architecture: all
Maintainer: Joshua Gort 
Description: Kotlin compiler debian package
 Kotlin compiler put into a debian package
